In [12]:
import numpy as np
import pandas as pd
import yfinance as yf

In [13]:
"""Run cell you if want to hide warnings."""
import warnings
warnings.filterwarnings('ignore')

In [14]:
# Choose sample of tickers to pull from
chosen_dataset = 'tech'
path = 'tickers/{}.xlsx'.format(chosen_dataset)

In [15]:
# Retrieve price data
data = pd.read_excel(path)
tickers = data['Ticker'].tolist()
data = yf.download(tickers, start='2012-01-01')
data = data['Adj Close']
data = data.dropna(axis='columns')
data.head()

[*********************100%***********************]  499 of 499 completed

Empty DataFrame
Columns: []
Index: [2012-01-03 00:00:00, 2012-01-04 00:00:00, 2012-01-05 00:00:00, 2012-01-06 00:00:00, 2012-01-09 00:00:00]

In [16]:
# Save data to csv
path = 'prices/{}.csv'.format(chosen_dataset)
data.to_csv(path)