In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
"""Run cell you if want to hide warnings."""
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Choose sample of tickers to pull from
chosen_dataset = 'finance'
path = 'tickers/{}.xlsx'.format(chosen_dataset)

In [4]:
# Retrieve price data
data = pd.read_excel(path)
tickers = data['Ticker'].tolist()
data = yf.download(tickers, start='2012-01-01')
data = data['Adj Close']
data = data.dropna(axis='columns')
data.head()

[*********************100%***********************]  1019 of 1019 completed

,ABCB,ACGL,AINV,AMNB,AMSF,ANAT,ARCC,AROW,ASPS,ATAX,...,WETF,WLTW,WNEB,WRLD,WSBC,WSBF,WSFS,WTBA,WTFC,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-03,9.729348,12.493333,6.878556,13.784569,14.154971,54.262646,6.305951,14.517246,49.259998,2.333505,...,5.057527,84.675987,5.818035,73.699997,14.939697,1.234899,11.428182,6.955525,26.593084,14.626753
2012-01-04,9.536053,12.266667,6.847759,13.805976,14.414694,53.406635,6.269570,14.566044,48.549999,2.352211,...,5.099533,84.195885,5.787006,68.849998,14.755527,1.215604,11.486113,6.898457,26.683537,14.949463
2012-01-05,9.591282,12.500000,7.042819,13.884452,14.544559,53.845791,6.330204,14.633142,50.330002,2.356886,...,5.124735,85.658081,5.818035,68.010002,14.947065,1.189876,11.842865,6.934124,27.524740,15.368120
2012-01-06,9.793784,12.486667,7.042819,13.984345,14.328116,52.922810,6.354457,14.541646,50.490002,2.356886,...,5.099533,84.937874,5.755974,67.680000,14.976527,1.189876,11.967879,6.855651,27.407150,15.385561
2012-01-09,9.775374,12.396667,7.022290,13.941536,14.000370,53.123779,6.354457,14.376951,50.380001,2.356886,...,5.158340,84.217712,5.818035,68.099998,15.138592,1.215604,11.711751,6.948393,27.796101,15.594892

In [ ]:
# Save data to csv
path = 'prices/{}.csv'.format(chosen_dataset)
data.to_csv(path)